@import url('../assets/fonts/sifonn/style.css');
@import url('../assets/fonts/montserrat/stylesheet.css');

//Fonts
$sifonn: 'Sifonn Pro';
$montserrat: 'Montserrat';

//Colors
$orange: #E85624;
$purple: #512461;