.home {
    .row {
        height: 75vh;    

        @include mobile {
            height: 50vh;
        }
    }

    &-left .home-slide {
        width: 100%;
        height: 75vh;
        background-image: url('../assets/img/both.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-bottom-right-radius: 128px;
        filter: grayscale(1);
        transition: all .5s ease;

        @include mobile {
            border-bottom-right-radius: 64px;
            height: 50vh;
        }
    }

    &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        @include mobile {
            justify-content: flex-end;
            padding-bottom: 32px;
        }
    }

    &-title {
        font-family: $sifonn;
        font-size: 56px;
        text-transform: uppercase;
        color: $orange;
        position: relative;
        left: -80px;
        transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);

        @include desktop-xl {
            font-size: 44px;
        }

        @include desktop-lg {
            font-size: 44px;
        }

        @include mobile {
            font-size: 24px;
            left: -40px;
        }

        @include mobile-xs {
            font-size: 20px;
            left: -40px;
        }
    }

    &-text {
        font-family: $montserrat;

        @include mobile {
            display: none;
        }
    }

    &:hover {
        .home-title {
            left: -56px;

            @include mobile {
                left: -32px;
            }
        }

        .home-left .home-slide {
            filter: grayscale(0);
        }
    } 
}